:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #E1E1E6;
  background-color: #121214;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #8257E5;
  text-decoration: none;
}

a:hover {
  color: #996DFF;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #E1E1E6;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* align-items: flex-end; */
  /* height: 100vh; */
  /* width: 60vw; */
  /* padding: 5px; */
  /* box-sizing: border-box; */
  overflow: hidden;
  flex-wrap: wrap;
  /* align-content: center; */
  /* margin: 0 auto;  */
}

.input-description {
  width: 400px;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.input-title,
.input-description,
.input-tag,
.input-account,
.input-password,
.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #323238;
  background-color: #202024;
  color: #E1E1E6;
  margin: 10px 0;
}

.button,
button {
  background-color: #8257E5;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover,
button:hover {
  background-color: #996DFF;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #323238;
    background-color: #FAFAFA;
  }

  a:hover {
    color: #8257E5;
  }

  button {
    background-color: #E1E1E6;
  }
}