:root {
  --bg-color: #424242;
  --hl-color: #2196F3;
  --muted-color: rgba(255, 255, 255, 0.7);
  --trans-time: 300ms;
  --width: 320px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: var(--width);
  margin: 45px auto;
  flex-direction: column;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: var(--hl-color);
}

h5 {
  text-align: center;
  text-transform: uppercase;
  color: var(--muted-color);
}

hr.sep {
  background: var(--hl-color);
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

.emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

/* input,
textarea {
  background: none;
  color: var(--muted-color);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: var(--width);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--muted-color);
  text-transform: lowercase;
} */

input[type="password"],
input[type="account"] {
  background: none;
  color: var(--muted-color);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: var(--width);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--muted-color);
  /* text-transform: lowercase; */
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: var(--hl-color);
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: var(--width);
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: var(--muted-color);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: var(--trans-time) ease all;
}

.bar {
  position: relative;
  display: block;
  width: var(--width);
}

.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--hl-color);
  transition: var(--trans-time) ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: rgba(0, 0, 0, 0.75);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn:hover {
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn-link {
  background: var(--hl-color);
  color: rgba(255, 255, 255, 0.8);
}

.btn-link:hover {
  background: #1976D2;
  color: rgba(255, 255, 255, 0.85);
}

.btn-submit {
  background: var(--hl-color);
  color: rgba(255, 255, 255, 0.7);
}

.btn-submit:hover {
  background: #1976D2;
  color: rgba(255, 255, 255, 0.85);
}

.btn-cancel {
  background: #eee;
}

.btn-cancel:hover {
  background: #ddd;
  color: rgba(0, 0, 0, 0.8);
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

.community-search {
  width: 100%;
}

#list {
  width: 100%;
  margin-top: 16px; /* Aggiungi un margine superiore per separare la lista dal TextField */
}